@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --grey: rgb(241, 244, 246);
  --light-grey: rgb(243, 245, 248);
  --light-dark: rgb(50, 60, 66);
  --dark: rgb(70, 81, 87);
  --font: rgb(126, 132, 136);
  --blue: rgb(16, 143, 228);
  --light-blue: rgb(58, 162, 232);
  --header-index: 10;
}

.About {
  z-index: calc(var(--header-index)-1);
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.About__first {
  height: 92vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}


.About__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.About__title h2 {
  font-size: 30px;
  font-weight: 900;
  color: var(--dark);
  position: relative;
  text-shadow: 2px 2px 0px white, 2.5px 2.5px 0px rgb(70, 81, 87, 0.3);
}

.About__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.About__img .Round__frame {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  position: relative;
}

.About__img .Round__frame .background-1 {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  opacity: 0.8;
  content: "";
  background-color: rgb(247, 250, 253, 0.4);
  position: absolute;
  /* top: 50%; */
  z-index: calc(var(--header-index)-3);
  border: 4px solid rgb(255, 255, 255, 0.3);
  box-shadow: 0px -4px 20px 20px rgb(70, 81, 87, 0.05);
}

/* .About__img .Round__frame .background-2{
    width: 360px;
    height: 360px;
    border-radius: 180px;
    opacity: 1;
    content: '';
    background-color: rgb(247, 250, 253,0.4);
    position:fixed;
    transform: translate(-30px,-30px);
    z-index: calc(var(--header-index)-4);
    border: 4px solid rgb(255,255,255,0.3);
    box-shadow: 0px -4px 5px rgb(70, 81, 87,0.02);
} */

.About__img .Round__frame img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 150px;
  position: relative;
  z-index: calc(var(--header-index)-2);
}

.About__description {
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 20px;
}

.About__description .About__bio h4 {
  font-size: 20px;
  font-weight: 800;
  color: var(--dark);
}

.About__description .About__bio p {
  color: rgb(163, 165, 165);
  text-align: start;
  margin-top: 20px;
}



/* Arrow buttons*/



.arrows__button{
    background-color: transparent;
    border: none;
    position: sticky;
    bottom: 5%;
    opacity: 0.7;
}

.arrow-1, .arrow-2 ,.arrow-3{
    width: 19.5px;
    height: 19.5px;
    transform: rotate(135deg);
    border-color: var(--blue);
    border-width: 0.325vmin 0.325vmin 0 0;
    border-style: solid;
}

.arrow-1{
  animation-name: slide1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite ;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes slide1{
  0%{
    top: 0px;
  }
  50%{
    top: 6px;
  }
  100%{
    top: 0px;
  }
}

.arrow-2{
    border-width: 0.512vmin 0.512vmin 0 0;
    animation-name: slide2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite ;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes slide2{
  0%{
    top: 0px;
  }
  50%{
    top: 6px;
  }
  100%{
    top: 0px;
  }
}


.arrow-3{
    border-width: 0.78vmin 0.78vmin 0 0;
    animation-name: slide2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite ;
    animation-timing-function: ease-in-out;
    position:relative;
}



.arrows__button:hover .arrow-2 , .arrows__button:focus .arrow-2{
    transform: translate(0,-19.5px) rotate(135deg) ;
    transition: all 0.4s ease;
    
}



.arrows__button:hover .arrow-3 , .arrows__button:focus .arrow-3{
    transform: translate(0,-39px) rotate(135deg) ;
    transition: all 0.4s ease;
    
}

.divider{
  width: 80%;
  height: 2px;
  content: '';
  background-color: var(--dark);
  border-radius: 1px;
  opacity: 0.5;
}

/* ----- About Second ----- */

.About__second {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.About__experience h4 {
  font-size: 20px;
  font-weight: 800;
  color: var(--dark);
}

.experience__container{
  width: 85vw;
  background-color: white;
  border-radius: 15px;
  box-shadow:
  4.5px 4.3px 4.8px rgba(0, 0, 0, 0.017),
  11.6px 11px 11.4px rgba(0, 0, 0, 0.029),
  23.7px 22.6px 23px rgba(0, 0, 0, 0.04),
  49px 46.7px 50.4px rgba(0, 0, 0, 0.052),
  131px 125px 154px rgba(0, 0, 0, 0.07)
;
  margin-top: 40px;
}

.experience__container .content{
  padding: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__container .content .divider{
  width: 95%;
  height: 2px;
  content: '';
  background-color: var(--dark);
  border-radius: 1px;
  opacity: 0.07;
}

.experience__container .content .Header{
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.experience__container .content .Header .Header__description{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.experience__container .content .Header .Header__description h5{
  color: var(--dark);
  font-weight: 800;
  margin-right: 2%;
  margin-bottom: 0;
}

.experience__container .content .Header .Header__description span{
  font-size: 16px;
  color: var(--font);
  margin-top: 1%;
}

.experience__container .content .Header .experience__img{
  width: 70px;
  height: 70px;
  margin-left: 2%;
}

.experience__container .content .Header .experience__img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.experience__container .content .description {
  width: 100%;
  background-color: transparent;
  margin-top: 3%;
}

.experience__container .content .description h6{
  color: var(--dark);
  font-weight: 800;
  margin-left: 2%;
}

.experience__container .content .description h6 span{
  color: var(--blue);
}

.experience__container .content .description p{
  margin-left: 2%;
}