@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --grey: rgb(241, 244, 246);
    --light-grey: rgb(243, 245, 248);
    --light-dark: rgb(50, 60, 66);
    --dark: rgb(70, 81, 87);
    --font: rgb(126, 132, 136);
    --blue: rgb(16, 143, 228);
    --light-blue: rgb(58, 162, 232);
    --header-index: 10;
}


.Footer{
    width: auto;
    height: 8vh;
    position: fixed;
    bottom: 0;
    background-color: transparent;
    z-index: var(--header-index);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 5%;
}

.Footer__button{
    border: none;
    background: none;
    background-color: var(--blue);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 20px 0px rgb(58, 162, 232,0.3);
}

.Footer__button > svg{
    fill: white;
}

.email{
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    width: 32px;
}

@media screen and (max-width:562px){
    .Footer__button{
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
    }
}
